nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2563EB;
    color: white;
    padding: 15px 30px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

nav ul li {
    cursor: pointer;
}

nav ul li:hover {
    color: yellow;
}